# --- Auth/Client Config ---
CLIENT_ID=
APP_API_BASE_URL=
AUTH_API_BASE_URL=
ENABLE_SESSION_TIMEOUT=
STORAGE_SESSION_TIME_KEY=
EXPIRY_TIME_IN_MINUTE=
PROMPT_TIME_BEFORE_IDLE_IN_MINUTE=
# --- CSP Directives ---
# See: https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy

VITE_CSP_DEFAULT_SRC='self'
VITE_CSP_SCRIPT_SRC='self'
VITE_CSP_STYLE_SRC='self'
VITE_CSP_IMG_SRC='self data:'
VITE_CSP_CONNECT_SRC='self env:APP_API_BASE_URL env:AUTH_API_BASE_URL'
VITE_CSP_OBJECT_SRC='none'
VITE_CSP_BASE_URI='self'
VITE_CSP_FORM_ACTION='self'
VITE_CSP_BLOCK_ALL_MIXED_CONTENT=true
# VITE_CSP_REPORT_URI= # Optional: Set to your CSP report endpoint
# VITE_CSP_REPORT_TO=  # Optional: Set to your CSP report-to endpoint
# For nonce/hash support, add e.g. 'nonce-{NONCE}' or 'sha256-...' to the relevant directive